<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/init') %>
        <link rel="stylesheet" href="/styles/detail.css">
    </head>

    <body>
        <%- include('./partials/header') %>

        <main class="detail-product-container">
            <section class="slider-images">

                <ul class="slider-images-counter">
                </ul>

                <div class="back-image"><i class="fa-solid fa-chevron-left"></i></div>

                <img src="/images/jacket/jacket_1.png" alt="Jacket Image">
                <img src="/images/jacket/jacket_2.png" alt="Jacket Image">
                <img src="/images/jacket/jacket_3.png" alt="Jacket Image">
                <img src="/images/jacket/jacket_1.png" alt="Jacket Image">
                <img src="/images/jacket/jacket_2.png" alt="Jacket Image">
                <img src="/images/jacket/jacket_3.png" alt="Jacket Image">

                <div class="next-image"><i class="fa-solid fa-chevron-right"></i></div>

            </section>

            <section class="detail-product-description">
                <h2>JAСKET KLS</h2>
                <p>€105</p>
                <ul class="color-list">
                    <li><a href></a></li>
                    <li><a href></a></li>
                    <li><a href></a></li>
                </ul>
                <ul class="size-list">
                    <li>XS</li>
                    <li>S</li>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                </ul>
                <form action>
                    <button>Add to cart</button>
                </form>
                <section class="product-info">
                    <h3>PRODUCT INFO</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sapiente eaque nulla ullam nemo, quisquam debitis
                        delectus aspernatur praesentium ipsa aliquam possimus
                        exercitationem molestias ex? Nihil nulla dolorem
                        perferendis est illo.</p>
                </section>
            </section>
        </main>

        <script src="/scripts/slider.js"></script>
    </body>

    <%- include('./partials/footer.ejs') %>

</html>