<footer>
    <nav class="footer-nav">
        <ul>
            <li><a href>Brand</a></li>
            <li><a href>Campaing</a></li>
            <li><a href>Clothing care</a></li>
        </ul>

        <ul>
            <li><a href>Guarantee</a></li>
            <li><a href>Store</a></li>
            <li><a href>Delivery and returns</a></li>
        </ul>

        <ul>
            <li><a href>Facebook</a></li>
            <li><a href>Instagram</a></li>
            <li><a href>Telegram</a></li>
        </ul>
    </nav>

    <form action>
        <label for>We give you a 10% discount for subscription</label>
        <section>
            <input type="email" placeholder="Enter your mail" required>
            <input type="submit" value="Suscribe">
        </section>
    </form>

</footer>