.detail-product-container {
  margin-top: 74px;
  min-height: calc(100vh - 74px);
  background-color: aliceblue;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  display: grid;
}

.slider-images {
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: antiquewhite;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.back-image{
    position: absolute;
    top: 0;
    left: 0;
}
.next-image{
    position: absolute;
    top: 0;
    right: 0;
}

.slider-images img {
    width: 100%;
}